<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="effects.css">
    <style>
        body{
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div style="position: absolute; z-index: 9;">
        <h2>Thank you for the contribution</h2>
        <h4>You have voted for <span class="shadow-red"><b>Shadowveil Studio</b></span></h4>
        <p>"Shadowveil Studio" is a name that evokes a sense of secrecy and intrigue with ease. For a long time, shadows
            have been connected to the unknown, capturing our interest and wonder. By fusing "Shadow" with "Veil," we
            evoke a feeling of seduction and secrecy, implying a location where mysteries are kept and tales are just
            waiting to be discovered. This name perfectly captures the mysterious atmosphere we hope to establish,
            beckoning exploration of the uncharted.</p>
            <div class="btn">
                <a class="btn-purple" href="/">Home Page</a>
            </div>
    </div>
    <div id="water-drop" class="water-drop"></div>
    <div class="wrap-up">
        <div class="fog" style="top: 10vh; animation: fog 29s linear infinite;"></div>
        <div class="fog" style="top: 30vh; animation: fog 60s linear infinite;"></div>
        <div class="fog" style="top: 65vh; animation: fog 33s linear infinite;"></div>
        <div class="fog" style="top:80vh; animation: fog 45s linear infinite;"></div>
        <div class="mob-eff"></div>
    </div>
    <script src="script.js"></script>

</body>

</html>