<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="effects.css">
</head>

<body>
    <div>
            <h2>Thank you for the contribution</h2>
            <h4>Your vote have been recorded for <span class="shadow-red"><b>Enigma Studio</b></span>
        </h4>
            <p>"Enigma Studio" conveys a sense of intrigue and mystery. The definition of "enigma" itself is "puzzling" or "difficult to understand," which is exactly what we want to portray. This name alludes to a location full of mysteries and secrets, where unknown territory lures with a spirit of challenge and adventure. For people who are drawn to the unexpected, it is a thrilling and fascinating option because of its spooky presence and the terrified expression it conveys.</p>
        <div class="btn">
                <a class="btn-purple" href="/">Home Page</a>
            </div>
    </div>
    <div id="water-drop" class="water-drop"></div>
    <div class="wrap-up">
        <div id="drop" class="fall f1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                class="injected-svg" data-src="https://cdn.hugeicons.com/icons/droplet-solid-standard.svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" role="img" color="#a41223">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M13.2723 1.35235C12.6673 0.882548 11.8327 0.882549 11.2277 1.35235C10.2594 2.10421 8.23017 3.77604 6.43589 5.88816C4.66736 7.96996 3 10.6255 3 13.3309C3 17.8466 6.50744 22.5 12.25 22.5C17.9926 22.5 21.5 17.8466 21.5 13.3309C21.5 10.6255 19.8326 7.96996 18.0641 5.88816C16.2698 3.77604 14.2406 2.10421 13.2723 1.35235ZM18 14.75C18 14.3358 17.6642 14 17.25 14C16.8358 14 16.5 14.3358 16.5 14.75C16.5 16.5449 15.0449 18 13.25 18C12.8358 18 12.5 18.3358 12.5 18.75C12.5 19.1642 12.8358 19.5 13.25 19.5C15.8734 19.5 18 17.3734 18 14.75Z"
                    fill="#a41223"></path>
            </svg>
        </div>
        <div id="drop" class="f2 fall">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                class="injected-svg" data-src="https://cdn.hugeicons.com/icons/droplet-solid-sharp.svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" role="img" color="#810f1e">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.2805 1.45738C12.1534 1.36368 12.0537 1.29012 12 1.25C11.9463 1.29012 11.8466 1.36368 11.7195 1.45738C11.2798 1.78158 10.513 2.34693 10.1973 2.60293C9.38451 3.26199 8.29832 4.20251 7.2094 5.32607C6.12279 6.44725 5.01784 7.76667 4.18091 9.18498C3.3469 10.5983 2.75 12.1589 2.75 13.7484C2.75 18.1816 6.25744 22.75 12 22.75C17.7426 22.75 21.25 18.1816 21.25 13.7484C21.25 12.1589 20.6531 10.5983 19.8191 9.18498C18.9822 7.76668 17.8772 6.44725 16.7906 5.32607C15.7017 4.2025 14.6155 3.26199 13.8027 2.60293C13.487 2.34693 12.7202 1.78158 12.2805 1.45738ZM15 14C15 15.6569 13.6569 17 12 17V19C14.7614 19 17 16.7614 17 14H15Z"
                    fill="#810f1e"></path>
            </svg>
        </div>
        <div id="drop" class="fall f3">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                class="injected-svg" data-src="https://cdn.hugeicons.com/icons/droplet-solid-standard.svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" role="img" color="#a41223">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M13.2723 1.35235C12.6673 0.882548 11.8327 0.882549 11.2277 1.35235C10.2594 2.10421 8.23017 3.77604 6.43589 5.88816C4.66736 7.96996 3 10.6255 3 13.3309C3 17.8466 6.50744 22.5 12.25 22.5C17.9926 22.5 21.5 17.8466 21.5 13.3309C21.5 10.6255 19.8326 7.96996 18.0641 5.88816C16.2698 3.77604 14.2406 2.10421 13.2723 1.35235ZM18 14.75C18 14.3358 17.6642 14 17.25 14C16.8358 14 16.5 14.3358 16.5 14.75C16.5 16.5449 15.0449 18 13.25 18C12.8358 18 12.5 18.3358 12.5 18.75C12.5 19.1642 12.8358 19.5 13.25 19.5C15.8734 19.5 18 17.3734 18 14.75Z"
                    fill="#a41223"></path>
            </svg>
        </div>
        <div id="drop" class="f4 fall">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                class="injected-svg" data-src="https://cdn.hugeicons.com/icons/droplet-solid-sharp.svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" role="img" color="#810f1e">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.2805 1.45738C12.1534 1.36368 12.0537 1.29012 12 1.25C11.9463 1.29012 11.8466 1.36368 11.7195 1.45738C11.2798 1.78158 10.513 2.34693 10.1973 2.60293C9.38451 3.26199 8.29832 4.20251 7.2094 5.32607C6.12279 6.44725 5.01784 7.76667 4.18091 9.18498C3.3469 10.5983 2.75 12.1589 2.75 13.7484C2.75 18.1816 6.25744 22.75 12 22.75C17.7426 22.75 21.25 18.1816 21.25 13.7484C21.25 12.1589 20.6531 10.5983 19.8191 9.18498C18.9822 7.76668 17.8772 6.44725 16.7906 5.32607C15.7017 4.2025 14.6155 3.26199 13.8027 2.60293C13.487 2.34693 12.7202 1.78158 12.2805 1.45738ZM15 14C15 15.6569 13.6569 17 12 17V19C14.7614 19 17 16.7614 17 14H15Z"
                    fill="#810f1e"></path>
            </svg>
        </div>
        <div id="drop" class="fall f5">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                class="injected-svg" data-src="https://cdn.hugeicons.com/icons/droplet-solid-standard.svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" role="img" color="#a41223">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M13.2723 1.35235C12.6673 0.882548 11.8327 0.882549 11.2277 1.35235C10.2594 2.10421 8.23017 3.77604 6.43589 5.88816C4.66736 7.96996 3 10.6255 3 13.3309C3 17.8466 6.50744 22.5 12.25 22.5C17.9926 22.5 21.5 17.8466 21.5 13.3309C21.5 10.6255 19.8326 7.96996 18.0641 5.88816C16.2698 3.77604 14.2406 2.10421 13.2723 1.35235ZM18 14.75C18 14.3358 17.6642 14 17.25 14C16.8358 14 16.5 14.3358 16.5 14.75C16.5 16.5449 15.0449 18 13.25 18C12.8358 18 12.5 18.3358 12.5 18.75C12.5 19.1642 12.8358 19.5 13.25 19.5C15.8734 19.5 18 17.3734 18 14.75Z"
                    fill="#a41223"></path>
            </svg>
        </div>
        <div id="drop" class="f6 fall">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                class="injected-svg" data-src="https://cdn.hugeicons.com/icons/droplet-solid-sharp.svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" role="img" color="#810f1e">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.2805 1.45738C12.1534 1.36368 12.0537 1.29012 12 1.25C11.9463 1.29012 11.8466 1.36368 11.7195 1.45738C11.2798 1.78158 10.513 2.34693 10.1973 2.60293C9.38451 3.26199 8.29832 4.20251 7.2094 5.32607C6.12279 6.44725 5.01784 7.76667 4.18091 9.18498C3.3469 10.5983 2.75 12.1589 2.75 13.7484C2.75 18.1816 6.25744 22.75 12 22.75C17.7426 22.75 21.25 18.1816 21.25 13.7484C21.25 12.1589 20.6531 10.5983 19.8191 9.18498C18.9822 7.76668 17.8772 6.44725 16.7906 5.32607C15.7017 4.2025 14.6155 3.26199 13.8027 2.60293C13.487 2.34693 12.7202 1.78158 12.2805 1.45738ZM15 14C15 15.6569 13.6569 17 12 17V19C14.7614 19 17 16.7614 17 14H15Z"
                    fill="#810f1e"></path>
            </svg>
        </div>
        <div id="drop" class="fall f7">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                class="injected-svg" data-src="https://cdn.hugeicons.com/icons/droplet-solid-standard.svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" role="img" color="#a41223">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M13.2723 1.35235C12.6673 0.882548 11.8327 0.882549 11.2277 1.35235C10.2594 2.10421 8.23017 3.77604 6.43589 5.88816C4.66736 7.96996 3 10.6255 3 13.3309C3 17.8466 6.50744 22.5 12.25 22.5C17.9926 22.5 21.5 17.8466 21.5 13.3309C21.5 10.6255 19.8326 7.96996 18.0641 5.88816C16.2698 3.77604 14.2406 2.10421 13.2723 1.35235ZM18 14.75C18 14.3358 17.6642 14 17.25 14C16.8358 14 16.5 14.3358 16.5 14.75C16.5 16.5449 15.0449 18 13.25 18C12.8358 18 12.5 18.3358 12.5 18.75C12.5 19.1642 12.8358 19.5 13.25 19.5C15.8734 19.5 18 17.3734 18 14.75Z"
                    fill="#a41223"></path>
            </svg>
        </div>
        <div id="drop" class="f8 fall">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                class="injected-svg" data-src="https://cdn.hugeicons.com/icons/droplet-solid-sharp.svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" role="img" color="#810f1e">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.2805 1.45738C12.1534 1.36368 12.0537 1.29012 12 1.25C11.9463 1.29012 11.8466 1.36368 11.7195 1.45738C11.2798 1.78158 10.513 2.34693 10.1973 2.60293C9.38451 3.26199 8.29832 4.20251 7.2094 5.32607C6.12279 6.44725 5.01784 7.76667 4.18091 9.18498C3.3469 10.5983 2.75 12.1589 2.75 13.7484C2.75 18.1816 6.25744 22.75 12 22.75C17.7426 22.75 21.25 18.1816 21.25 13.7484C21.25 12.1589 20.6531 10.5983 19.8191 9.18498C18.9822 7.76668 17.8772 6.44725 16.7906 5.32607C15.7017 4.2025 14.6155 3.26199 13.8027 2.60293C13.487 2.34693 12.7202 1.78158 12.2805 1.45738ZM15 14C15 15.6569 13.6569 17 12 17V19C14.7614 19 17 16.7614 17 14H15Z"
                    fill="#810f1e"></path>
            </svg>
        </div>
    </div>
    <div class="wrap-up d-flex">
        <div class="puddle p1"></div>
        <div class="puddle p2"></div>
        <div class="puddle p3"></div>
        <div class="puddle p4"></div>
        <div class="puddle p5"></div>
        <div class="puddle p6"></div>
        <div class="puddle p7"></div>
        <div class="puddle p8"></div>
        <div class="puddle p9"></div>
        <div class="puddle p10"></div>
    </div>
    <script src="script.js"></script>
</body>

</html>
