<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Poll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css?v=1.0.2">
    <link rel="stylesheet" href="effects.css">
<meta name="google-site-verification" content="yl-LgIzdIVn4DDHCd84Xa7t-8TzTGoTiZSIb0X8ft-Q" />
</head>

<body>
    <section class="lrg">
        <div class="poll-cont-parent-div">
            <div class="poll-container">
                <h1>Choose your favourite?</h1>
                <ul>
                    <li><a class="op" href="/c1">Shadowveil Studio</a></li>
                    <li><a class="op" href="/c2">Whispering Woods</a></li>
                    <li><a class="op" href="/c3">Enigma Studio</a></li>
                </ul>
            </div>
        </div>
        <div class="eotp">Think about the meaning of each name and the feelings they arouse when you make your vote.
            "Shadowveil Studio" suggests hidden mysteries that are just waiting to be uncovered. "Whispering Woods"
            evokes the image of a spooky woods with many secrets. "Enigma Studio" encapsulates the thrill of solving
            puzzles and the fascination of the unknown. Every name gives a different experience; pick the one that best
            suits your desired journey.</div>
    </section>
    <div class="aa">
        <span class="l1 ">S</span>
        <span class="l2 ">A</span>
        <span class="l1 ">T</span>
        <span class="l2 ">V</span>
        <span class="l1 ">I</span>
        <span class="l2 ">K</span>
    </div>
    <div>If you are not able to vote then contact <a href="mailto:satvikgupta_it.aec@yahoo.com">&#64 Mail</a>
<br> It is made for college, do not judge... come on!</div>
    <script>
        async function fetchResults() {
            const response = await fetch('/results');
            const data = await response.json();
            document.getElementById('votes1').innerText = data.votes[0];
            document.getElementById('votes2').innerText = data.votes[1];
            document.getElementById('votes3').innerText = data.votes[2];
        }
        fetchResults();
    </script>
    <script src="script.js"></script>
</body>

</html>
